<a href="{{airpi_authorization_uri}}" style="z-index: 100; float:right;" class='btn green'>Add my AirPi</a>

<div id='mapDiv' style="position: fixed; top: 0px; left: 0px; right:0px; bottom:0px;"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/rainbow.js"></script>

<script>
    var tempGradient = new Rainbow();
    tempGradient.setSpectrum('white', 'blue','green','red');
    tempGradient.setNumberRange(-10,40);

    var humidityGradient = new Rainbow();
    humidityGradient.setSpectrum('blue','green','red');
    humidityGradient.setNumberRange(0,100);

    var App = {
        state: {},
        gradients: {
            'humidity': humidityGradient,
            'temperature': tempGradient
        }
    };

    var socket = io.connect('/');

    var processMessage = function(message) {
        if (!App.state[message.from])
        App.state[message.from] = {};

        App.state[message.from][message.type] = message;

        var location = App.state[message.from]['location'];
        if (!location) return;

        var selectedField = $('#type').val();

        var value = App.state[message.from][selectedField];
        if (!value) return;

        value = value.body[selectedField];
        var hexColor = App.gradients[selectedField].colourAt(value);

        var radius = 5;      //radius of the circle
        var latitude = location.body.latitude;
        var longitude = location.body.longitude;

        if (App.state[message.from]['polygon']) {
            App.map.entities.remove(App.state[message.from]['polygon']);
        }

        App.state[message.from]['polygon'] = drawMapCircle(radius, latitude, longitude, hexColor);
    }

    socket.on('message', processMessage);

    $(document).ready(function() {
        App.map = new Microsoft.Maps.Map(document.getElementById("mapDiv"), {
            center: new Microsoft.Maps.Location(53, 0),
            credentials: "Akbhia6_9IoahE9Q2TyAVORP_IHbhkxmTiy25f8WXYpnt_pzIA0AhgvyDVHKJkhi",
            enableSearchLogo: false,
            zoom: 7
        });

        window.setTimeout(function () {
            var container = $('#mapDiv').find('.LogoContainer');

            container.prepend('<select id="type" class="form-control" style="margin-bottom: 10px;"><option value="temperature">Temperature</option><option value="pressure">Pressure</option></select>');

            container.prepend(
                // Add the Custom Button itself
                $('<a>').attr('href', '#')
                        .addClass('btn green')
                        .attr('style', 'margin-bottom: 10px')
                        .append($('<span>')
                        .html('Add my AirPi')
                        .click(function() {
                            window.location = 'https://api.nitrogen.io/user/authorize?api_key=airpi-local&app_id=538f4d0b454a8a3e0427264c&redirect_uri=http%3A%2F%2Flocalhost%3A3010%2Findex.html&scope=%5B%7B"actions"%3A%5B"view"%2C"subscribe"%5D%2C"filter"%3A%7B"%24or"%3A%5B%7B"tags"%3A"sends%3Atemperature"%7D%2C%7B"tags"%3A"sends%3Ahumidity"%7D%5D%7D%7D%5D';
                        }))
            );

            $("#type").change(function() {
                var newType = $("#type").val();
                for (var id in App.state) {
                    if (App.state[id][newType]) {
                        processMessage(App.state[id][newType])
                    } else {
                        if (App.state[id]['polygon']) {
                            App.map.entities.remove(App.state[id]['polygon']);
                            App.state[id]['polygon'] = null;
                        }
                    }
                }
            });
        }, 400);

        socket.emit('start');
    });

</script>

<script src="/bingMaps.js"></script>
<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
