<div id="mosaic"></div>

<a href="{{app_authorization_uri}}" style="margin-top: 25px" class='btn green'>Add Camera</a>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('/');
    var cameras = {};

    function createDivIfNotExist(cameraId) {
        var divExists = $("#" + cameraId).length > 0;
        if (!divExists) {
            $('#mosaic').append(
                $("<div id='" + cameraId + "'></div>")
            );
        }
    }

    function updateImage(cameraObj) {
        var date = new Date(Date.parse(cameraObj.image.ts));
        $("#" + cameraObj.image.from).html("<img width=300 src='" + cameraObj.image.body.url + "'><div><h5>" + cameraObj.camera.name + " " + date + "</h5></div>");
    }

    socket.on('image', function(image) {
        var div = createDivIfNotExist(image.from);

        if (!cameras[image.from]) cameras[image.from] = {};

        cameras[image.from].image = image;

        updateImage(cameras[image.from]);
    });

    socket.on('camera', function(camera) {
        var div = createDivIfNotExist(camera.id);

        if (!cameras[camera.id]) cameras[camera.id] = {};

        cameras[camera.id].camera = camera;

        if (cameras[camera.id].image) updateImage(cameras[camera.id].image);
    });

    $(document).ready(function() {
        socket.emit('start');
    });
</script>